<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- <context:component-scan base-package="com.example.demo" /> -->
    <bean id="beanClass" class="com.example.demo.service.BeanClass"></bean>
    <bean id="actionClass" class="com.example.demo.service.ActionClass">
        <!--通过属性注入的方式注入Car的实例-->
        <property name="beanClass" ref="beanClass"></property>
    </bean>

</beans>
